.media-player-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  filter: grayscale(100%);
  max-height: 50px;
  max-width: 100%;
  opacity: 0.3;
}
.feature {
  padding-top: 90px;
  padding-bottom: 90px;
  margin: 0 auto;
  background-size: cover;
}

.ant-slider-rail {
  height: 14px !important;
}

.ant-slider-track {
  height: 14px !important;
}

.ant-slider .ant-slider-handle::after {
  width: 28px !important;
  height: 28px !important;
  top: -4px;
}
